@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-base font-normal mx-auto text-text1 h-full;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }
    input {
        outline: none;
    }
}

.error-input {
    @apply text-sm font-medium pointer-events-none text-error;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    height: 50%; /* Height of the scroll thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
}
