@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-base font-normal mx-auto text-text1 h-full;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }
    input {
        outline: none;
    }
}

.error-input {
    @apply text-sm font-medium pointer-events-none text-error;
}
