server:
  port: 8088

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

spring:
  config:
    import: "optional:configserver:${CONFIG_SERVER_URL:http://localhost:8889}"
  data:
    mongodb:
      port: 27017
      host: localhost
      database: post_db
      authentication-database: admin
      uri: mongodb://root:123456@localhost:27017/test?authSource=admin&authMechanism=SCRAM-SHA-1
  neo4j:
    uri: bolt://localhost:7687/friend_db
    authentication:
      username: neo4j
      password: 12345678
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration